# Environment variables
.env

# Traefik ACME
traefik/acme/*
!traefik/acme/.gitkeep
traefik/acme/acme.json

# Plex Media Server
plexmediaserver

# Transmission
transmission

# Authelia
authelia/configuration.yml
authelia/users/users.yml
authelia/db.sqlite3
authelia/notification.txt

# OS files
.DS_Store
*.log